<main>

    <div class="container component">

        <!---->
        <div class="container-fluid">
            <h1 class="mt-4">Solicitações</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Solicitações / Sangue</li>
            </ol>
        </div>

        <!-- listagem -->
        <div class="card mb-4 card-listagem-cadastro">

            <div class="card-header">
                <form #formSolicitacaoSangue="ngForm" (submit)="search()">
                    <div class="form-row">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-plataforma btn-plataforma-success"
                                (click)="openCadastroModal()">
                                <i class="fa fa-plus"></i> SOLICITAÇÃO
                            </button>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <button type="button" class="btn btn-plataforma btn-plataforma-common"
                                    (click)="loadAll()">
                                    <i class="fa fa-sync"></i>
                                </button>
                                <input type="text" class="form-control form-control-plataforma" id="searchInput"
                                    name="searchInput" [(ngModel)]="searchInput" placeholder="Descrição">

                                <button type="button" class="btn btn btn-plataforma btn-plataforma-common"
                                    (click)="search()">
                                    <i class="fa fa-search"></i>
                                </button>

                                <div class="btn-group">

                                    <button class="btn btn btn-plataforma btn-plataforma-common dropdown-toggle"
                                        type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-filter"></i>
                                    </button>

                                    <ul class="dropdown-menu">
                                        <div class="card" style="width: 18rem;">
                                            <div class="card-body">
                                                <h5 class="card-title">Tipos Sanguineos</h5>

                                                <button class="btn badge bg-secondary text-white p-1 ml-1" type="button"
                                                    [ngClass]="isSelected(tipoSanguineo) ? 'bg-danger' : 'bg-secondary'"
                                                    *ngFor="let tipoSanguineo of tiposSanguineos"
                                                    (click)="addRemoveTipoSanguineo(tipoSanguineo)">{{tipoSanguineo.descricao}}
                                                </button>

                                            </div>
                                        </div>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>            

            <div class="container mt-4">
                <div class="row" *ngIf="tiposSanguineosInput.length > 0">
                    Filtro:
                    <div class="col-11">

                        <button class="btn badge bg-danger text-white ml-1" type="button"
                            *ngFor="let tipoSanguineo of tiposSanguineosInput"
                            (click)="addRemoveTipoSanguineo(tipoSanguineo)">{{tipoSanguineo.descricao}}
                            <a class="fs-6 ml-1"><span aria-hidden="true">&times;</span></a>
                        </button>

                        <button class="btn badge btn-sm bg-light text-dark" type="button"
                            *ngIf="tiposSanguineosInput.length > 0"
                            (click)="clearTiposSanguineosInput()">Limpar Filtro
                            <a class="fs-6 ml-1"><span aria-hidden="true">&times;</span></a>
                        </button>

                    </div>
                </div>
            </div>            

            <div class="text-center text-red mt-5 m-2" *ngIf="solicitacoes == null">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden"></span>
                </div>
            </div>

            <div class="text-center m-5" *ngIf="solicitacoes == null || solicitacoes.length == 0">
                <div>
                    Ainda não há cadastros de solicitações por aqui
                </div>
            </div>

            <div class="card-body" *ngIf="solicitacoes != null && solicitacoes.length > 0">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>NOME</th>
                                <th>DESCRICAO</th>
                                <th>TIPO(S) SANGUINEO(S)</th>
                                <th>N° DOADORES NOTIFICADOS</th>
                                <th>DATA CADASTRO</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let solicitacao of solicitacoes">
                                <td>{{solicitacao.id}}</td>
                                <td>{{solicitacao.entidade.nome}}</td>
                                <td>{{solicitacao.descricao}}</td>
                                <td>
                                    <span class="badge bg-danger text-white mr-1 p-1"
                                        *ngFor="let tipoSanguineo of solicitacao.tipoSanguineosList">{{tipoSanguineo.descricao}}</span>
                                </td>
                                <td>{{solicitacao.doadoresNotificados}}</td>
                                <td>{{solicitacao.dataRegistro}}</td>
                                <th>
                                    <a (click)="openViewModal(solicitacao.id)">
                                        <i class="fa fa-eye btn-datail"></i>
                                    </a>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <!-- paginacao -->
        <div class="container" *ngIf="entidadeIsLoad() && solicitacoes.length > 0">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                    <li class="page-item">
                        <a class="btn-plataforma btn-plataforma-common" href="#" (click)="navigateToFirstPage($event)"> 1 </a>
                    </li>
                    <li class="page-item">
                        <a class="btn-plataforma btn-plataforma-common" href="#" (click)="navigateToPreviousPage($event)">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="btn-plataforma btn-plataforma-common"> {{pageCount}} </a>
                    </li>
                    <li class="page-item">
                        <a class="btn-plataforma btn-plataforma-common" href="#" (click)="navigateToNextPage($event)">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="btn-plataforma btn-plataforma-common" href="#" (click)="navigateToLastPage($event)"> {{lastPage}} </a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>

</main>