<div class="container-fluid contato p-5">

    <div class="container mt-5">
        <div class="box-text">
            <h2 class="text-center">Sobre a plataforma</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat
                nulla pariatur. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et
                dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat
                nulla pariatur.</p>
        </div>
    </div>

    <div class="container mt-5">
        <div class="box-text">

            <h2 class="text-center">Seja um apoiador</h2>
            
            <div class="container mt-5">
                <div class="row justify-content-center">
                    <app-web-formulario-email></app-web-formulario-email>
                </div>
            </div>

        </div>
    </div>

</div>