<div class="container-fluid contato p-5">

    <div class="container mt-5">
        <div class="box-text">
            <h2 class="text-center">Sobre a plataforma</h2>
            <br/>
            <p>
                A plataforma DOARS é uma plataforma totalmente gratuita destinada para a divulgação de solicitações de doação de sangue de todo o 
                estado do Rio Grande do Sul. Possuimos o objetivo efetivar uma parceria com entidades da saúde e abastecer os seus estoques de sangue.
            </p>
        </div>
    </div>

    <div class="container mt-5">
        <div class="box-text">

            <h2 class="text-center">Seja um apoiador</h2>
            
            <div class="container mt-5">
                <div class="row justify-content-center">
                    <app-web-formulario-email></app-web-formulario-email>
                </div>
            </div>

        </div>
    </div>

</div>