<div class="container-fluid sobre p-5">

    <div class="container mt-5">
        <div class="box-text">
            <h2 class="text-center">Sobre a plataforma</h2>
            <br/>
            <p>
                A plataforma DOARS é uma plataforma totalmente gratuita destinada para a divulgação de solicitações de doação de sangue de todo o 
                estado do Rio Grande do Sul. Possuimos o objetivo efetivar uma parceria com entidades da saúde e abastecer os seus estoques de sangue.
            </p>            
        </div>
    </div>

    <div class="container">
        <div class="box-text">
            <h2 class="text-center">Conceito</h2>
        </div>
    </div>

    <div class="container">
        <div class="row g-0 rounded overflow-hidden flex-md-row mb-4 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <p>O nosso objetivo é permitir um cadastro gratuito de doadores voluntarios, constituindo uma base de 
                    dados compartilhada com todas as entidades de saúde vinculadas a plataforma. Gerando contribuinção e elevando os níveis dos estoques
                    de sangue no estado.
                </p>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img src="../../../../assets/images/person-1.png">
            </div>
        </div>
    </div>

    <div class="container mb-4">
        <div class="box-text">
            <h2 class="text-center">Junte-se a nós nessa corrente do bem.</h2>
        </div>
    </div>

    <div class="container p-3">
        <button class="btn btn-plataforma-lg btn-plataforma-danger mx-auto d-block"
            (click)="openModalRegisterDoador()">QUERO SER UM DOADOR <i class="fas fa-chevron-circle-right"></i></button>
    </div>

</div>