<div class="modal-content">

    <div class="modal-header m-2">
        <h5 class="modal-title">Solicitação de Sangue</h5>
        <span class="badge badge-pill bg-dark text-white mt-2 ml-2"
            *ngIf="solicitacaoIsLoad()">{{solicitacao.id}}</span>
        <a class="btn close" (click)="close()"><span aria-hidden="true">&times;</span></a>
    </div>

    <div class="modal-body">

        <div class="text-center text-green" *ngIf="!solicitacaoIsLoad()">
            <div class="spinner-border" role="status">
                <span class="visually-hidden"></span>
            </div>
        </div>

        <div *ngIf="solicitacaoIsLoad()">
            <div class="row">

                <div class="col-6 container">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label>Tipo(s) Sanguineo(s)</label> <br />
                            <span class="badge bg-danger text-white m-1"
                                *ngFor="let tipoSanguineo of solicitacao.tipoSanguineosList">{{tipoSanguineo.descricao}}</span>
                        </div>
                        <div class="form-group col-md-12">
                            <label>Descrição</label>
                            <textarea class="form-control form-control-plataforma" rows="5"
                                value="{{solicitacao.descricao}}" disabled></textarea>
                        </div>
                        <div class="form-group col-md-6">
                            <label>N° Doadores Notificados</label>
                            <input type="text" class="form-control form-control-plataforma"
                                value="{{solicitacao.doadoresNotificados}}" disabled>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Raio de distancia: </label>
                            <input type="text" class="form-control form-control-plataforma"
                                value="{{solicitacao.distancia}}" disabled>
                        </div>
                    </div>
                </div>

                <div class="col-6 container">                    
                    <app-doadores-solicitacao-sangue solicitacaoId="{{solicitacao.id}}">
                    </app-doadores-solicitacao-sangue>
                </div>

            </div>
        </div>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-plataforma btn-plataforma-primary" disabled>ATUALIZAR</button>
        <button type="button" class="btn btn-plataforma btn-plataforma-common" disabled>
            <i class="fa fa-trash"></i> EXCLUIR
        </button>
        <button type="button" class="btn btn-plataforma btn-plataforma-common" (click)="close()">CANCELAR</button>
    </div>

</div>