<label>Doadores Notificados</label>
<div class="card mb-4 card-listagem-cadastro-simples">

    <div class="card-header">
        <form>
            <div class="form-row">
                <div class="col-md-12">
                    <div class="input-group">
                        <button type="button" class="btn btn-plataforma btn-plataforma-common" (click)="loadAllDoadores()">
                            <i class="fa fa-sync"></i>
                        </button>
                        <input type="text" class="form-control form-control-plataforma" placeholder="Nome" disabled>

                        <button type="button" class="btn btn btn-plataforma btn-plataforma-common">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="text-center text-green mt-5 m-2" *ngIf="doadores == null">
        <div class="spinner-border" role="status">
            <span class="visually-hidden"></span>
        </div>
    </div>
    
    <div class="text-center m-5" *ngIf="doadores == null || doadores.length == 0">
        <div>
            Não há doadores notificados.
        </div>
    </div>

    <div class="card-body" style="overflow: auto;" *ngIf="doadores != null">

        <div *ngFor="let doador of doadores">
            <div class="accordion accordion-flush">

                <div class="accordion-item gray">
                    <h6 class="accordion-header" data-bs-toggle="collapse" aria-expanded="false">
                        <span class="badge text-white m-1"
                            [ngClass]=" doador.sexo == 'FEMININO' ? 'bg-danger' : 'bg-primary'">
                            <i class="fa" [ngClass]=" doador.sexo == 'FEMININO' ? 'fa-venus' : 'fa-mars'"></i>
                        </span> {{doador.nome}}
                    </h6>

                    <div>
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-6">
                                    <p style="font-size: 10px;"><b>Email:</b> {{doador.contato.email}} </p>
                                </div>
                                <div class="col-5">
                                    <p style="font-size: 10px;"><b>Telefone:</b> {{doador.contato.telefone}}</p>
                                </div>
                                <div class="col-1">
                                    <span
                                        class="badge bg-danger text-white m-1">{{doador.tipoSanguineo.descricao}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>