<main>

    <div class="container component">

        <div class="container-fluid">
            <h1 class="mt-4 mb-4">Dashboard</h1>
        </div>

        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Dados Gerais</li>
        </ol>

        <app-card-dashboard-geral></app-card-dashboard-geral>

        <ol class="breadcrumb mt-4">
            <li class="breadcrumb-item active">Dados da entidade</li>
        </ol>

        <!-- dados detalhados -->
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <app-card-dashboard-doadores-por-tipo-sanguineo></app-card-dashboard-doadores-por-tipo-sanguineo>
                </div>                
                <div class="col-md-6">
                    <app-card-dashboard-solicitacao-sangue-por-tipo-sanguineo></app-card-dashboard-solicitacao-sangue-por-tipo-sanguineo>
                </div>                
            </div>
        </div>

    </div>

</main>