<div class="main">
    <div class="container-fluid mt-5 p-5 text-center">
        <main class="form-active">            

            <div class="loginWrapper">

                <div class="content__wrapper">
    
                    <form class="pure-form">
    
                        <label>Nome <span class="text-danger"> *</span> </label>
                        <input type="text" name="nome" [(ngModel)]="nome">
                        <label>Email <span class="text-danger"> *</span> </label>
                        <input type="email" name="email" [(ngModel)]="email">                        
    
                        <button class="btn btn-plataforma btn-plataforma-sl btn-plataforma-danger m-3"
                            >CADASTRAR</button>
    
                    </form>
    
                </div>
    
            </div>

        </main>    
    </div>
</div>