<!--banner -->
<div class="container-fluid topo">

    <div class="wave container-fluid"></div>

    <div class="content container-fluid">

        <div class="row mt-4">
            <div class="col-sm">
                <div class="text-box">
                    <h2>Conectamos bancos de sangue e doadores voluntários</h2>
                    <p> A plataforma DOARS notifica os doados cadastrado via email quando uma entidade de hemoterapia
                        estiver precisando de sangue.</p>
                    <button class="btn btn-plataforma-lg m-1">seja um doador <i
                            class="fas fa-chevron-circle-right"></i></button>
                </div>
            </div>
            <div class="col-sm">
                <div class="img-box"><img src="../../../../assets/images/blood.png"> </div>
            </div>
        </div>

    </div>

</div>

<!--diferenciais da plataforma -->
<div class="container p-1 pt-5">

    <div class="differences">
        <h3>Nossos Diferenciais</h3>
    </div>

    <div class="row">

        <div class="col-md-4 text-center">
            <div class="feature-icon m-3 diff-img">
                <img class="mx-auto d-block" src="../../../../assets/images/differences/bllod.svg">
            </div>
            <h5>Doações disponíveis</h5>
            <p>Acesso ilimitado a doações de sangue disponíveis no Estado.</p>
        </div>

        <div class="col-md-4 text-center">
            <div class="feature-icon m-3 diff-img">
                <img class="mx-auto d-block" src="../../../../assets/images/differences/bllod.svg">
            </div>
            <h5>Doações disponíveis</h5>
            <p>Acesso ilimitado a doações de sangue disponíveis no Estado.</p>
        </div>

        <div class="col-md-4 text-center">
            <div class="feature-icon m-3 diff-img">
                <img class="mx-auto d-block" src="../../../../assets/images/differences/bllod.svg">
            </div>
            <h5>Doações disponíveis</h5>
            <p>Acesso ilimitado a doações de sangue disponíveis no Estado.</p>
        </div>

    </div>

</div>

<!--perguntas frequentes -->
<div class="container p-1">

    <div class="perguntas">

        <h3>Perguntas Frequentes</h3>

        <ul class="collapse-list">

            <li>
                <input class="collapse-open" type="checkbox" id="collapse-1">
                <label class="collapse-btn text-dark" for="collapse-1">O que é doação de sangue? </label>
                <div class="collapse-painel">
                    <div class="collapse-inner">
                        <ol>
                            <p> um texto qualquer aqui somente para preencher o espaço vazio que tem, pois estou com
                                muita preguiça de abrir o site do lorem ipsum e colar um texto gerado em latin - me
                                perdoe</p>
                        </ol>
                    </div>
                </div>
            </li>

            <li>
                <input class="collapse-open" type="checkbox" id="collapse-2">
                <label class="collapse-btn text-dark" for="collapse-2">Por que doar sangue?</label>
                <div class="collapse-painel">
                    <div class="collapse-inner">
                        <ol>
                            <p> um texto qualquer aqui somente para preencher o espaço vazio que tem, pois estou com
                                muita preguiça de abrir o site do lorem ipsum e colar um texto gerado em latin - me
                                perdoe</p>
                        </ol>
                    </div>
                </div>
            </li>

            <li>
                <input class="collapse-open" type="checkbox" id="collapse-3">
                <label class="collapse-btn text-dark" for="collapse-3">O que é preciso para doar?</label>
                <div class="collapse-painel">
                    <div class="collapse-inner">
                        <ol>
                            <p> um texto qualquer aqui somente para preencher o espaço vazio que tem, pois estou com
                                muita preguiça de abrir o site do lorem ipsum e colar um texto gerado em latin - me
                                perdoe</p>
                        </ol>
                    </div>
                </div>
            </li>

            <li>
                <input class="collapse-open" type="checkbox" id="collapse-4">
                <label class="collapse-btn text-dark" for="collapse-4">Quais os impedimentos temporários?</label>
                <div class="collapse-painel">
                    <div class="collapse-inner">
                        <ol>
                            <p> um texto qualquer aqui somente para preencher o espaço vazio que tem, pois estou com
                                muita preguiça de abrir o site do lorem ipsum e colar um texto gerado em latin - me
                                perdoe</p>
                        </ol>
                    </div>
                </div>
            </li>

            <li>
                <input class="collapse-open" type="checkbox" id="collapse-5">
                <label class="collapse-btn text-dark" for="collapse-5">Quais os impedimentos definitivos?</label>
                <div class="collapse-painel">
                    <div class="collapse-inner">
                        <ol>
                            <p> um texto qualquer aqui somente para preencher o espaço vazio que tem, pois estou com
                                muita preguiça de abrir o site do lorem ipsum e colar um texto gerado em latin - me
                                perdoe</p>
                        </ol>
                    </div>
                </div>
            </li>

            <li>
                <input class="collapse-open" type="checkbox" id="collapse-6">
                <label class="collapse-btn text-dark" for="collapse-6">Quais os intervalos que devem ser respeitados
                    entre as
                    doações?</label>
                <div class="collapse-painel">
                    <div class="collapse-inner">
                        <ol>
                            <p> um texto qualquer aqui somente para preencher o espaço vazio que tem, pois estou com
                                muita preguiça de abrir o site do lorem ipsum e colar um texto gerado em latin - me
                                perdoe</p>
                        </ol>
                    </div>
                </div>
            </li>

            <li>
                <input class="collapse-open" type="checkbox" id="collapse-7">
                <label class="collapse-btn text-dark" for="collapse-7">Quais as etapas para a doação?</label>
                <div class="collapse-painel">
                    <div class="collapse-inner">
                        <ol>
                            <p> um texto qualquer aqui somente para preencher o espaço vazio que tem, pois estou com
                                muita preguiça de abrir o site do lorem ipsum e colar um texto gerado em latin - me
                                perdoe</p>
                        </ol>
                    </div>
                </div>
            </li>

            <li>
                <input class="collapse-open" type="checkbox" id="collapse-8">
                <label class="collapse-btn text-dark" for="collapse-8">O que devo fazer após a doação?</label>
                <div class="collapse-painel">
                    <div class="collapse-inner">
                        <ol>
                            <p> um texto qualquer aqui somente para preencher o espaço vazio que tem, pois estou com
                                muita preguiça de abrir o site do lorem ipsum e colar um texto gerado em latin - me
                                perdoe</p>
                        </ol>
                    </div>
                </div>
            </li>

        </ul>

    </div>

    <div class="container">
        <button class="btn btn-plataforma-lg btn-plataforma-danger mx-auto d-block">faça uma pergunta <i
                class="fas fa-chevron-circle-right"></i></button>
    </div>

</div>