<!--
<div class="main">
    <section class="loginWrapper" *ngIf="!selected">

        <ul class="tabs">
            <li class="active">Acessar</li>
            <li>Cadastre-se</li>
        </ul>
    
        <ul class="tab__content">
    
            <li class="active">
                <div class="content__wrapper">
                    <img class="logo" src="../../../assets/images/red-logo.svg">
                    <form class="pure-form" #loginForm="ngForm">
                        <input type="email" [(ngModel)]="email" name="email" placeholder="E-mail">
                        <input type="password" [(ngModel)]="senha" name="senha" placeholder="Senha">
                        <input type="submit" value="Acessar" (click)="onSubmit()" name="login">
                    </form>
                </div>
            </li>
    
    
            <li>
                <div class="content__wrapper">
                    <img src="images/red-logo.svg" class="logo">
                    <br>
                    <form class="pure-form" smethod="POST" action="">
                        <input type="text" name="nome" placeholder="Nome">
                        <input type="text" name="sobrenome" placeholder="Sobrenome">
                        <input type="email" name="email" placeholder="E-mail">
                        <select name="gender">
                            <option disable> Selecione o gênero </option>
                            <option value="male"> Masculino </option>
                            <option value="fem"> Feminino </option>
                            <option value="other"> Outro </option>
                        </select>
    
                        <input type="text" name="endereco" placeholder="Rua">
                        <input type="number" name="cep" placeholder="CEP">
                        <input type="text" name="bairro" placeholder="Bairro">
                        <input type="text" name="cidade" placeholder="Cidade">
                        <select name="uf">
                            <option disable> Selecione o estado </option>
                            <option value="RS"> RS </option>
                            <option value="SC"> SC </option>
                            <option value="PR"> PR </option>
                        </select>
    
                        <input type="pass" name="pass" placeholder="Senha">
                        <input type="repass" name="repass" placeholder="Repita a senha">
                        <input type="submit" value="cadastrar" name="register">
                    </form>
                </div>
            </li>
    
        </ul>
    
    </section>
</div>
-->


<div class="container-fluid mt-5 p-5 text-center" *ngIf="!selected">

    <main class="form-signin">

        <form #loginForm="ngForm">

            <h1 class="h3 mb-3 fw-normal">Login</h1>
            <input [(ngModel)]="email" name="email" type="email" class="" placeholder="Email" required autofocus>
            
            <br/>
            <input [(ngModel)]="senha" name="senha" type="password" class="" placeholder="Senha" required>

            <br/>
            <button class="btn" style="width: 300px;" type="submit" (click)="onSubmit()">Sign in</button>

            <br/>
            <p class="mt-5 text-danger">{{message}}</p>
            <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
                        
        </form>

    </main>

</div>