<main>

    <div class="container-fluid">
        <h1 class="mt-4">Paises</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Cadastro Auxiliar / Paises</li>
        </ol>


        <div class="card mb-4">

            <div class="card-header">

                <button type="button" class="btn btn-primary" (click)="loadList()">
                    <i class="fa fa-sync"></i>
                </button>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>NOME</th>
                                <th>SIGLA</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let pais of paises">
                                <td>{{pais.id}}</td>
                                <td>{{pais.nome}}</td>
                                <td>{{pais.sigla}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</main>